*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

a,
button {
  transition: all .3s $animation-curve-linear-out-slow-in;

  &:before,
  &:after,
  svg {
    transition: all .3s $animation-curve-linear-out-slow-in;
  }
}

@media (prefers-reduced-motion: reduce) {
  a,
  button {
    transition: none;

    &:before,
    &:after,
    svg {
      transition: none;
    }
  }
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;

  &:hover,
  &:focus {
    color: $mdlext-dark-color-primary;
  }
}

code {
  font-family: $code-font;
}
