<a href="#top" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary mdl-button--fab mdl-button--mini-fab to-top js-to-top">
  <svg class="mdl-svg to-top__icon">
    <use xlink:href="#expand-less"></use>
  </svg>
  Go to the top
</a>

<footer role="contentinfo" class="mdl-mini-footer page-footer">
  <section class="mdl-mini-footer--left-section page-footer__left-section">
    <a href="{{ authors.me.twitter }}"
       target="_blank"
       rel="nofollow noreferrer noopener"
       class="mdl-mini-footer--social-btn"
       title="Twitter">
      <svg class="mdl-mini-footer--social-btn__icon">
        <use xlink:href="#twitter"></use>
      </svg>
      Follow {{ authors.me.name }} on Twitter
    </a>

    <a href="{{ authors.me.github }}"
       target="_blank"
       rel="nofollow noreferrer noopener"
       class="mdl-mini-footer--social-btn"
       title="GitHub">
      <svg class="mdl-mini-footer--social-btn__icon">
        <use xlink:href="#github"></use>
      </svg>
    </a>
    View {{ authors.me.name }} on GitHub
  </section>

  <section class="mdl-copyright">
    <p>&copy; {{ currentYear }} {{ sitename }}</p>
  </section>

  <section class="mdl-mini-footer--right-section page-footer__right-section">
  </section>
</footer>
