<header class="mdl-layout__header" role="banner">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
      <a href="/" class="site-link">{{ sitename }}</a>
    </span>

    <div class="mdl-layout-spacer">
      <a href="/" class="site-logo" title="{{ sitename }}">
        <picture class="site-logo__picture">
          <source media="(min-width: 1025px)"
                  srcset="{{ sitelogo }}.webp 1x, {{ sitelogo }}@2x.webp 2x"
                  type="image/webp">
          <source media="(min-width: 1025px)"
                  srcset="{{ sitelogo }}.png 1x, {{ sitelogo }}@2x.png 2x">
          <source media="(min-width: 768px)"
                  srcset="{{ sitelogo }}-tablet.webp 1x, {{ sitelogo }}-tablet@2x.webp 2x"
                  type="image/webp">
          <source media="(min-width: 768px)"
                  srcset="{{ sitelogo }}-tablet.png 1x, {{ sitelogo }}-tablet@2x.png 2x">
          <source srcset="{{ sitelogo }}-mobile.webp 1x, {{ sitelogo }}-mobile@2x.webp 2x"
                  type="image/webp">
          <source srcset="{{ sitelogo }}-mobile.png 1x, {{ sitelogo }}-mobile@2x.png 2x">
          <img src="{{ sitelogo }}.png" alt="{{ sitename }} Logo" class="site-logo__img">
        </picture>
      </a>
    </div>

    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link {{ activeLink path ''}}" href="/">Blog</a>

      {{#each collections.pages as |page|}}
        <a class="mdl-navigation__link {{ activeLink ../path page.path }}" href="/{{ page.path }}/">{{ page.title }}</a>
      {{/each}}
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{ sitename }}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Blog</a>

    {{#each collections.pages as |page|}}
      <a class="mdl-navigation__link" href="/{{ page.path }}/">{{ page.title }}</a>
    {{/each}}
  </nav>
</div>
