<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ sitename }}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ sitename }}">

<!-- Tile icon for Win8 -->
<meta name="msapplication-TileColor" content="{{ themeColor }}">

<link rel="alternate" type="application/rss+xml" href="{{ rss }}">

<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="{{ themeColor }}">

<!-- Origin Trials -->
<meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-03-23" content="AjkNePf4AUkcoG6xZrnSoBIoLSHrfwacxbFNGF3l7rokrvXzN2ngXJA0WInpRo3ydbh0T6n6UtPJvCNc+D/e5AMAAABaeyJvcmlnaW4iOiJodHRwczovL3ZpdGFsaXktYm9icm92LmdpdGh1Yi5pbzo0NDMiLCJmZWF0dXJlIjoiV2ViU2hhcmUiLCJleHBpcnkiOjE0OTAzMTMxOTZ9">

<meta name="google-site-verification" content="-49tfdke4pxwhrBhLHu5VHTk-bb7g9jK_xQuD5Elq2Y" />

<!-- DNS Prefetching -->
<link rel="dns-prefetch" href="//google-analytics.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//bobrov-blog.disqus.com">

