<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

<link rel="canonical" href="{{ siteurl }}{{ path }}"/>

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ sitename }}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ sitename }}">

<!-- Tile icon for Win8 -->
<meta name="msapplication-TileColor" content="{{ themeColor }}">

<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="{{ themeColor }}">

<link rel="manifest" href="/manifest.json">

<meta name="google-site-verification" content="-49tfdke4pxwhrBhLHu5VHTk-bb7g9jK_xQuD5Elq2Y" />

<!-- Preloads -->
<link rel="preload" as="script" href="https://www.google-analytics.com/analytics.js">
<link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700">
<link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Roboto+Mono">

<!-- Styles -->
<link rel="stylesheet" href="/css/styles.css">
