.mdl-layout__content {
  padding: 0;
  background-image: resolve('bg-mobile.jpg');
  background-image: paint(material-bg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;

  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }

  @media screen and (min-width: 768px) {
    padding: 36px 0;
    background-image: resolve('bg-tablet.jpg');
    background-image: paint(material-bg);
  }

  @media screen and (min-width: 1025px) {
    padding: 72px 0 54px;
    background-image: resolve('bg-desktop.jpg');
    background-image: paint(material-bg);
  }
}
