.page-footer {
  min-height: 88px;
  position: relative;

  &__left-section,
  &__right-section {
    flex-grow: 1;
    flex-basis: 0;
  }

  &__right-section {
    text-align: right;
  }

  p {
    margin: 0;
  }
}
