.pagination {
  &.mdl-grid {
    padding-left: 15%;
    padding-right: 15%;

    @media screen and (min-width: 768px) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__link {
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-top: 24px;
    }

    &_next {
      margin-left: auto;
    }
  }

  &__btn {
    margin: 0 8px;
  }

  &__icon {
    fill: $mdlext-dark-color-primary-contrast;
  }
}

.mdlext-dark-color-theme {
  .pagination__btn {
    background-color: $white;
    line-height: 22px;
  }

  .pagination__link {
    color: $mdlext-dark-text-color-primary;

    &:hover {
      color: $mdlext-dark-color-primary;

      .pagination__btn {
        background-color: $mdlext-dark-color-primary;
      }
    }
  }
}
