.mdlext-dark-color-theme {
  .mdl-card {
    background-color: $mdl-dark-card;

    &__media {
      background-color: $mdl-dark-header;
    }
  }

  .mdl-layout__drawer {
    background-color: $mdl-dark-card;
    border-right-color: $mdl-dark-header;

    .mdl-layout-title {
      color: $mdlext-dark-text-color-primary;
    }

    .mdl-navigation .mdl-navigation__link {
      color: $mdlext-dark-text-color-secondary;
    }
  }

  .post-teaser__title-link {
    color: $mdlext-dark-text-color-primary;
    text-decoration: none;
  }

  .post-info__category {
    color: $mdlext-dark-color-primary-contrast;
  }

  .mdl-snackbar__action {
    color: $mdlext-dark-color-accent;
  }
}
