.mdlext-dark-color-theme {
  .mdl-card {
    background-color: $mdl-dark-card;

    &__media {
      background-color: $mdl-dark-header;
    }
  }

  .post-teaser__title-link {
    color: $mdlext-dark-text-color-primary;
    text-decoration: none;
  }
}
