// MDL.
$preferred_font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
'Droid Sans', 'Helvetica Neue', sans-serif;
$performance_font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
'Droid Sans', 'Helvetica Neue', sans-serif;
$code-font: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
'Courier New', monospace;

$trim-color-classes: true;

// MDL-Ext.
$mdlext-dark-color-primary:                       #00bcd4;
$mdlext-dark-color-primary-dark:                  #008ba3;
$mdlext-dark-color-primary-light:                 #62efff;
$mdlext-dark-color-primary-contrast:              rgba($black, .87);
$mdlext-dark-color-accent:                        #ff5252;
$mdlext-dark-color-accent-light:                  #ffbcaf;

$mdlext-dark-content-background-color:            #424242;
$mdlext-dark-text-color-primary:                  rgba($white, .87);
$mdlext-dark-text-color-secondary:                rgba($white, .54);
$mdlext-dark-text-color-disabled:                 rgba($white, .38);
$mdlext-dark-divider-color:                       rgba($white, .12);

$mdl-dark-header:                                 #242424;
$mdl-dark-card:                                   #4e4e4e;
$mdl-selection:                                   #18ffff;
