.mdlext-dark-color-theme {
  .mdl-card {
    background: $mdl-dark-card;
  }

  .post-teaser__title-link {
    color: $mdlext-dark-text-color-primary;
    text-decoration: none;
  }
}

.mdl-mini-footer--social-btn {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  font-size: 0;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 2px;
    fill: rgba($black, .54);
  }
}
