// MDL.
$preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$performance_font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$code-font: 'Roboto Mono', monospace;

$trim-color-classes: true;

// MDL-Ext.
$mdlext-dark-color-primary:                       #00bcd4;
$mdlext-dark-color-primary-dark:                  #00bcd4;
$mdlext-dark-color-primary-light:                 #00bcd4;
$mdlext-dark-color-primary-contrast:              rgba($black, .87);
$mdlext-dark-color-accent:                        #ff5252;
$mdlext-dark-color-accent-light:                  #ff5252;

$mdlext-dark-content-background-color:            #424242;
$mdlext-dark-text-color-primary:                  rgba($white, .87);
$mdlext-dark-text-color-secondary:                rgba($white, .54);
$mdlext-dark-text-color-disabled:                 rgba($white, .38);
$mdlext-dark-divider-color:                       rgba($white, .12);

$mdl-scroll:                                      #006064;
$mdl-dark-header:                                 #242424;
$mdl-dark-card:                                   #4e4e4e;
