.site-logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #b2ebf2;
  border-radius: 50%;
  @include shadow-3dp();

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 1025px) {
    width: 124px;
    height: 124px;
  }

  &:hover,
  &:focus {
    filter: grayscale(.7);
  }

  &__picture {
    display: block;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
