.to-top {
  position: fixed;
  bottom: 4px;
  right: 16px;
  opacity: 0;
  z-index: $under-content;
  transition: z-index 0s linear;

  @media screen and (min-width: 768px) {
    bottom: 16px;
  }

  &_visible {
    z-index: $above-content;
    animation-name: showTop;
    animation-duration: .8s;
    animation-fill-mode: forwards;
  }

  &__icon {
    margin: 8px;
    color: $mdlext-dark-text-color-primary;
  }
}

@keyframes showTop {
  0% {
    opacity: 0;
    transform: translateY(-60px) scale(1);
  }

  40% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  60% {
    transform: translateY(0) scale(1.2);
  }

  80% {
    transform: translateY(0) scale(.8);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
