<!doctype html>
<html lang="{{ locale }}">
  <head>
    <title>{{ sitename }}</title>

    {{> metatags }}

    {{> og-blog-props }}
    {{> og-image-props }}
    {{> json-ld-blog }}
  </head>
  <body class="mdlext-dark-color-theme">
    {{> sprite }}
    <div class="mdl-layout mdl-layout--no-desktop-drawer-button mdl-layout--fixed-header mdl-js-layout">
      <!-- Header -->
      {{> header }}

      <!-- Content -->
      <div class="mdl-layout__content js-to-top-container">
        <main class="mdl-grid posts-grid">
          {{#each pagination.files as |post|}}
            {{> post-card amount=../pagination.files.length post=post siteurl=../siteurl }}
          {{/each}}
        </main>

        <!-- Pagination -->
        {{> pagination }}

        <!-- Snackbar -->
        {{> notification }}

        <!-- Footer -->
        {{> footer }}
      </div>
    </div>

    <!-- Scripts -->
    {{> js }}
    {{> ga }}
  </body>
</html>
