<!doctype html>
<html lang="{{ locale }}">
  <head>
    <title>{{ sitename }}</title>
    {{> metatags }}

    {{> manifest }}

    {{> og-blog-props }}
    {{> og-image-props }}

    <!-- Styles -->
    {{> css }}
  </head>
  <body class="mdlext-dark-color-theme">
    {{> sprite }}
    <div class="mdl-layout mdl-layout--no-desktop-drawer-button mdl-layout--fixed-header mdl-js-layout">
      <!-- Header -->
      {{> header }}

      <!-- Content -->
      <main class="mdl-layout__content js-to-top-container">
        <section class="mdl-grid posts-grid">
          {{#each collections.posts as |post|}}
            <article class="mdl-card mdl-shadow--3dp mdl-cell post-teaser {{ postCell @index ../collections.posts.length }}">
              <header class="mdl-card__media post-teaser__media">
                {{{ postIllustration post.tumb post.title }}}

                <div class="safe-gradient"></div>

                <h2 class="post-teaser__title">
                  <a href="/{{ post.path }}/" class="post-teaser__title-link">{{ post.title }}</a>
                </h2>
              </header>

              <section class="post-teaser__info post-info">
                <div class="post-info__data">
                  <picture class="post-info__avatar">
                    <source srcset="{{ post.author.avatar }}.webp 1x, {{ post.author.avatar }}@2x.webp 2x"
                            type="image/webp">
                    <source srcset="{{ post.author.avatar }}.jpg 1x, {{ post.author.avatar }}@2x.jpg 2x">
                    <img src="{{ post.author.avatar }}.jpg"
                       alt="{{ post.author.name }} Photo"
                       class="mdl-list__item-avatar">
                  </picture>

                  <div class="post-info__data-wrapper">
                    <div class="post-info__author">
                      {{ post.author.name }}
                    </div>
                    {{#if post.modified}}
                      <time date-time="{{ moment post.updated format='YYYY-MM-DDThh:mm:ssZ' }}"
                            class="post-info__date">
                        {{ moment post.updated format='D MMMM YYYY' }}
                      </time>
                    {{else}}
                      <time date-time="{{ moment post.created format='YYYY-MM-DDThh:mm:ssZ' }}"
                            class="post-info__date">
                        {{ moment post.created format='D MMMM YYYY' }}
                      </time>
                    {{/if}}
                  </div>
                </div>

                <div class="post-info__side">
                  {{#if post.comments}}
                    <div class="post-info__comments">
                      <svg class="mdl-svg post-info__comments-icon">
                        <use xlink:href="#comment"></use>
                      </svg>
                      <span class="disqus-comment-count post-info__comments-counter" data-disqus-key="{{post.title}}"></span>
                    </div>
                  {{/if}}

                  <div class="post-info__categories">
                    {{#each post.categories as |category|}}
                      <span class="mdl-chip post-info__category">
                          <span class="mdl-chip__text">{{ category }}</span>
                      </span>
                    {{/each}}
                  </div>
                </div>
              </section>

              <section class="mdl-card__supporting-text post-teaser__intro">
                {{{ post.excerpt }}}
              </section>

              <section class="mdl-card__actions post-teaser__actions">
                <a href="/{{ post.path }}/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  Read more
                </a>
              </section>
            </article>
          {{/each}}
        </section>
      </main>

      <!-- Footer -->
      {{> footer }}
    </div>

    <!-- Scripts -->
    {{> js }}
  </body>
</html>
