<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }} | {{ sitename }}</title>
    {{> metatags }}

    {{> manifest }}

    {{> og-image-props }}

    <!-- Styles -->
    {{> css }}
  </head>
  <body class="mdlext-dark-color-theme">
    {{> sprite }}
    <div class="mdl-layout mdl-layout--no-desktop-drawer-button mdl-js-layout">
      <!-- Header -->
      {{> header }}

      <!-- Content -->
      <main class="mdl-layout__content js-to-top-container">
        {{{ contents }}}
      </main>

      <!-- Footer -->
      {{> footer }}
    </div>

    <!-- Scripts -->
    {{> js }}
  </body>
</html>
