<!doctype html>
<html lang="{{ locale }}">
  <head>
    <title>{{ title }} | {{ sitename }}</title>
    {{> metatags }}

    {{> manifest }}

    {{> og-page-props }}
    {{> og-image-props }}

    <!-- Styles -->
    {{> css }}
  </head>
  <body class="mdlext-dark-color-theme">
    {{> sprite }}
    <div class="mdl-layout mdl-layout--no-desktop-drawer-button mdl-layout--fixed-header mdl-js-layout">
      <!-- Header -->
      {{> header }}

      <!-- Content -->
      <main class="mdl-layout__content js-to-top-container">
        <section class="mdl-grid posts-grid">
          <article class="mdl-card mdl-shadow--3dp mdl-cell page mdl-cell--12-col">
            <h1 class="page__title">
              {{ title }}
            </h1>

            <section class="page__contents">
              {{{ contents }}}
            </section>
          </article>

        </section>
      </main>

      <!-- Snackbar -->
      {{> notification }}

      <!-- Footer -->
      {{> footer }}
    </div>

    <!-- Scripts -->
    {{> ga }}
    {{> js }}
  </body>
</html>
