code,
pre {
  &[class*="language-"] {
    tab-size: 2;
    hyphens: none;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: $mdlext-dark-text-color-primary;
  }
}

.post__contents pre code {
  display: block;
  overflow-x: auto;
  padding: 8px;
  background: rgba($black, .38);
  border-radius: 2px;
  font-size: 15px;
  @include shadow-2dp();

  @media screen and (min-width: 768px) {
    padding: 16px;
  }
}

.post__contents code {
  padding: 0 2px;
  border-radius: 2px;
  background: rgba($black, .38);

  @media screen and (min-width: 768px) {
    padding: 0 4px;
  }

  &:not([class*="language-"]) {
    font-size: 15px;
    color: $mdl-selection;
  }
}

.token.prolog,
.token.doctype,
.token.cdata {
  color: #d4d0ab;
}

.token.comment {
  color: $mdlext-dark-text-color-disabled;
}

.token.punctuation {
  color: $mdlext-dark-text-color-secondary;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #FF80AB;
}

.token.boolean,
.token.hexcode {
  color: #FF8A80;
}

.token.number {
  color: #039BE5;
}

.token.class-name,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.operator {
  color: $mdlext-dark-color-primary;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #CDDC39;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.regex,
.token.important {
  color: #00B0FF;
}

.token.keyword {
  color: $mdlext-dark-color-accent;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
