.post-info {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 1rem;
  line-height: 18px;

  &__avatar {
    margin-right: 16px;
    object-fit: contain;
  }

  &__author {
    @include typo-subhead-2;
  }

  &__date {
    display: block;
    color: $mdlext-dark-text-color-secondary;
  }

  &__data {
    display: flex;
    align-items: center;
  }

  &__side {
    align-self: flex-end;
  }

  &__comments {
    margin-bottom: 8px;
    color: $mdlext-dark-color-accent;
  }

  &__comments-icon {
    fill: $mdlext-dark-color-accent;
  }

  &__comments-counter {
    display: inline-block;
    vertical-align: bottom;
    line-height: 22px;
    font-weight: 300;
  }

  &__categories {
    text-align: right;
  }
}
