.post-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  font-size: 1rem;
  line-height: 18px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  &__avatar {
    margin-right: 16px;
    object-fit: contain;
  }

  &__author {
    @include typo-subhead-2;
  }

  &__date {
    display: block;
    color: $mdlext-dark-text-color-secondary;
  }

  &__data {
    display: flex;
    align-items: center;
  }

  &__side {
    width: 100%;
    padding-top: 16px;
    text-align: right;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: 380px) {
      width: auto;
      padding-top: 0;
      flex-direction: column;
    }
  }

  &__comments {
    color: $mdlext-dark-color-accent;
  }

  &__comments-icon {
    fill: $mdlext-dark-color-accent;
  }

  &__comments-counter {
    display: inline-block;
    vertical-align: bottom;
    line-height: 22px;
    font-weight: 300;
  }

  &__categories {
    font-size: 0;
  }

  &__category {
    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}
