.post {
  &__title {
    margin: 0;
    position: relative;
    z-index: $post-title;
    @include typo-display-1;

    @media screen and (min-width: 768px) {
      @include typo-display-2;
    }

    @media screen and (min-width: 1024px) {
      @include typo-display-3;
    }
  }

  &__media {
    display: flex;
    align-items: flex-end;
    min-height: 284px;
    padding: 24px;
    position: relative;
  }

  &__info {
    border-bottom: 1px solid $mdlext-dark-divider-color;
  }

  &__contents {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 16px;

    @media screen and (min-width: 768px) {
      padding: 24px;
    }

    p,
    li {
      @include typo-subhead-2;
    }

    h2,
    h3 {
      margin-bottom: 8px;
    }

    h2 {
      @include typo-display-1;
    }

    h3 {
      @include typo-headline;
    }

    blockquote {
      p {
        display: inline;
      }
    }
  }
}
