.post-teaser {
  &__title {
    margin: 0;
    position: relative;
    z-index: $post-title;
    @include typo-display-1;
  }

  &__media {
    display: flex;
    align-items: flex-end;
    min-height: 284px;
    padding: 24px;
    position: relative;
  }

  &__intro {
    width: 100%;
    padding: 16px 24px;
    text-align: right;
    border-top: 1px solid $mdlext-dark-divider-color;
  }

  &__intro-text {
    font-style: italic;
    text-align: left;
  }
}
