.post-teaser {
  &__title {
    margin: 0;
    position: relative;
    z-index: $post-title;
    @include typo-headline;

    @media screen and (min-width: 380px) {
      @include typo-display-1;
    }
  }

  &__media {
    display: flex;
    align-items: flex-end;
    min-height: 284px;
    padding: 24px;
    position: relative;
  }

  &__intro {
    width: 100%;
    border-top: 1px solid $mdlext-dark-divider-color;
    font-style: italic;

    p {
      margin-bottom: 0;
    }
  }

  &__actions {
    align-self: flex-end;
    margin-top: auto;
    border-top: 1px solid $mdlext-dark-divider-color;
    text-align: right;
  }
}
